<form method="POST">
    {% csrf_token %}
    <label for="patientID">Patient ID:</label>
    <input type="text" name="patientID" id="patientID" required><br>
    <label for="firstName">First Name:</label>
    <input type="text" name="firstName" id="firstName" required><br>
    <label for="lastName">Last Name:</label>
    <input type="text" name="lastName" id="lastName" required><br>
    <label for="dateOfBirth">Date of Birth:</label>
    <input type="date" name="dateOfBirth" id="dateOfBirth" required><br>
    <label for="sex">Sex:</label>
    <select name="sex" id="sex" required>
        <option value="M">Male</option>
        <option value="F">Female</option>
    </select><br>
    <label for="height">Height:</label>
    <input type="number" name="height" id="height"><br>
    <label for="weight">Weight:</label>
    <input type="number" name="weight" id="weight"><br>
    <label for="dnr">Do Not Resuscitate:</label>
    <input type="checkbox" name="dnr" id="dnr"><br>
    <label for="insurance_check">Insurance Check:</label>
    <input type="checkbox" name="insuranceCheck" id="insuranceCheck"><br>
    <button type="submit">Add Patient</button>
</form>
